    <!-- Call to Action -->
    <section class="content-section bg-primary-lamm text-white" id="lammandel">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="mb-4">Lammandel 2023</h1>
                <p class="content-p" style="color:#196fbd">
		  <!-- Snart börjar vi med anmälningen för säsong 2022. -->
      Anmälan för säsong 2023 är öppen.
      <!-- Säsong 2023 är fullbokat. -->
                </p>
                <!-- <p class="content-p" style="color:#196fbd">
                  Med stort tacksamhet meddelar vi att andelsägare från föregående
                  säsonger har tecknat hela 37 andelar för 2021. 15 till andelar är
                  bokade av nya andelsägare, totallt är det 52 st. Nu stänger vi anmälningen och vi börjar med fakturering. Blir det avhopp kommer vi annonsera lediga andelar.
                 <br>-->
                </p>
		  <!-- <p class="content-p">
      Läs gärna vilkorna nere och använd sedan vår <a class="js-scroll-trigger" href="#form">anmälningsformulär</a>.
      </p> -->

                <p class="content-p">
                  <!-- Vi är glada att berätta att i år skaffade vi får inom ett roligt 
                  sammarbete med våra grannar Lasse och Anki.  -->
                  I samarbete med våra grannar Lasse och Anki (på Nygård) erbjuder vi begränsat antal (5-6 st)
                  lammandelar. Det betyder 
                  att du köper en andel av vår lammbesättning nu och du får utdelning i form av kött från 
                  ett lamm i host.
                </p>
                <p class="content-p">
                  Våra lamm föddes i första halvan av maj och de går med sima mödrar på grönbete hoss oss och 
                  i Nygård. Tillsammans har vi ca 5 hektar hagar för under 15 st djur (5 tackor och 11 lamm i år), vilket ger 
                  möjlighet för en lugn och harmonisk uppväxt. 
                </p>
                <p class="content-p">
                  När lammen är mogna för slakt, under okt - nov, ombesörjer vi slakt och styckning och 
                  du får en låda med färdig vakuumförpackat och uppmärkt kött. Slaktvikten varierar och 
                  ligger på ca 13-19 kg.
                </p>
                <p class="content-p">
                  Du kan hämta din lammlåda här hoss oss eller få leverans till ett utlämningsställe 
                  (till en extra kostnad) enligt överenskommelse.
                </p>

 
                <p class="content-p" style="text-decoration: underline;">
                  Priset för en andel är 3400 kr inkl moms.
                <br>
                <!-- <p class="content-p">
                  Vid intresse kan vi erbjuda andelar för båda kött och päls till en total kostnad på 5000 kr. 
                  Pälsen kommer att skickas till Tranås för beredning 
                  och kommer att vara färdiga i juni året efter slakt.
                </p> -->
                <p class="content-p" id="form">
                Anmäl ditt intresse med kontaktuppgifter och antal andelar via 
                  vårt formulär: <br> 
                  <a class="btn btn-light btn-xl js-scroll-trigger" style="font-size: 1.2em" href="https://forms.gle/7gEakbnupYkg72PB6" target="_blank">Lammandelsanmäla</a>
                </p>
                <p class="content-p">
                  Välkommna och kontakta oss med frågor via mejl till 
                  <a href="mailto:solberg.honung@gmail.com?Subject=Andelsbiodling intresseanmäla">solberg.honung@gmail.com</a>. 
                  Kolla gärna vår grupp på Facebook för bilder och 
                  uppdateringar: <a href="https://www.facebook.com/groups/191643626738629" target="_blank">Lammandel Solberg Nygård</a>
                </p>
                <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/NqZ66QyEnkk1cUB67"
  data-title="13 new items by Solberg Honung"
  data-delay="5"
  data-background-color="#9CA84A">
  <object data="https://lh3.googleusercontent.com/EUXB1MB8giW29jNGxso2R0fqEVAgLY7HFR9VGasoGSMwbsDssdiSIQl5d3XPvAjZ9yQh6s8Qj5Lvx0INVHaUBXfJxRF2RcIMQNYjK_5tWyq3VVf1r2_H8vq3kv7skAM9_gwRKinyTg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/I7gXvOMCtbDRkJsZGOhXaqVf1ALDcTPE1udGmuRuaXwUNv6xIC3LWzoX_t41KQDXi1UuprP0xEJfMvx7T2R1w0DOCGjqV7w5Hz28mld9gqzq8a7f7VILcFe5jwEYewqFXybMTxQZvQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/S5YIBniWU-FVWCaRuTh0WQ2afgLwQl51nMsDUrixVHYqtETVOa35u8tuImJpU2oHX64j8urOEpGIdqvf8E1N8qDOnU3YES2GTLdR6BvxSIHX14DSySpGwuoToPPPm3d2dHPyHBCtlA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7q-VrR5WVlvBqO3Z_J6eeUlSCGqVwoDEe1JdUh095nOAk0kno6qPE0T9n8nBMSD-9liw1sFaR7ZZTL1_po4EhLPE-ehQwxlsIs7thgNSXXlVs5_1b7TQ7xYNGK8-QUJTYTipyf9L-g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/EWJOiIyzb69ysV4dKt52tMx4Nnz4lIG5aIPcvpQNOYuFLZ3_FHOgQAYuAPydvqzOrguKGR3XL_bZGf15KphN8pI4GgWZSoF6haY1k8P5GK86jSArtmG1oQEjQmEEIdGseOOawOp8yg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/sVxEYyWtrUhsHPJG2tUhNgUS2ocqCaLzL6CW9g5LyfbefT1tGjgKhnsI1huDNRnZBcGg1x4Qh_tqAgsoN-Xt-3_LXLZl7cjft406rFLuqJpCOxFOL8TtAkb6fg9BzMVwRmyjth7eZA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/2jD6O4Q2zR8ucJgEuxqLrYrkl1yLhzuLOHUuUWmPF8gNulsyXEJe1r0heGqkpc6uLeNTMURHTyJwPyIZeTGuwdbm__Ekfo6SL13rRG5_u8DYOomEzzTwNZNAEZQ1FdmkMqXOKbbh6g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/WbhrYcYOO7P9Gt4CRx7fzTVVhK6qvjNJsAR0WwQLfmHC8RdjNdUOnku8Mmi7MsBzfrykldUajpGPZDu3rpFUcczXHyLTXYLi2XTGgWLYbKI67MAvhKXwD1B6gc22h_k6g9-Kr2dLcg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/zPjovfWHT2uACZ9MYmqUqgyJbe8sETydcC1XLXEVWWkoedFrjoH2wvqWxVV8F7RuEhKp2I4hqWkyyZrI1yxPyK-xc9MwsPmHSx58BTRieOMwnJvIhWPXv9TaI448ICYZXbb2Q3fLBg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Zfa-41e__iwt_STTzNsT0sQ-RaPQ7iD6iixZp-XahIN3rxXDoz-pwkUlmppjY9zJJjcMS5bLRp2PUJhoe_l5m9Ju4sYNyclA63ErIivh97mdUlxm7_oRFjNS0JtJdrJv1TpgWhiElA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/CZwA2AQa8LZdJK7BCodfRqhdaxwb5UgH2mp7DVEz_N61zP5u59LaddPx_FHtc-CNiKhnaAvKvxsQyZwSlOCSckmsMrj68eHNjMAmjRVXmyKJ3Fjwjtw4Z89DyKYl0a7e52JX60-0ZQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/ytGvoMbVerftJtltIWYLfF8V_-AyeEVxLxmMrxOxA1U-Kv1-4Pu3UKBJgqnt6XEu_eXwoQckKVJdG_valvksx268JC4yBZ2XJuJa0aHGhzyHTf0HhWW6IQvpIY8h1Ek_Ca2L7vJqjw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/cvvy3ksELUA8tBbVBPL54ri0g_e_SQ0WZzqzJY1q_PlNb9J7oFabpAYcmUDxlo5EP77v_0GP1Omn5QwrcYuENSPgKEcX1vNTSHS_1Iq8Jm09pBWYt6Wt0OJ7KbFOgB5PB8GMCsztrA=w1920-h1080"></object>
</div>

 
  </section>