<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Solberg Honung - naturlig biodling nära dig | Andelsbiodling</title>

    <meta name="keywords" content="Solberg Honung, honung, biodling, bivax, Local Producers, närproducerat, sorthonung, Klöverhonung, Maskroshonung, Sensommarhonung, honey, beeswax, honung Uppsala, Hållbar biodling, naturlig biodling, Andelsbioding, rå honung, råhonung, raw honey">
    <meta name="description" content="Solberg Honung är en småskalig hållbar och naturlig biodling utanför Uppsala. Vårt mål är att driva naturligare biodling och erbjuda den finaste honungen nära dig. I år fortsätter Solberg Honung att med ndelsbiodling, vi siktar på att ta upp till 40 andelsägare.">

    <!-- Favicon-->
    <link rel="icon" href="../static/assets/favicon.ico">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Simple line icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <!-- <link href="css/custom.css" rel="stylesheet"> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116121175-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116121175-1');
    </script>
  </head>

  <body id="page-top">
    {% block home %}{% endblock home %}

    <!-- Footer -->
    <footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
        <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/solberghonung/" target="_blank">
            <i class="icon-social-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/solberghonung/" target="_blank">
            <i class="icon-social-instagram"></i>
            </a>
        </li>
        <!--    <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/valyo" target="_blank">
            <i class="icon-social-github"></i>
            </a>
        </li> -->
        </ul>
        <p class="text-muted small mb-0">&copy; Solberg Honung 2018<br/>
        Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"  target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon"  target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
    </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fa fa-angle-up"></i>
    </a>


    <!-- Custom scripts for this template -->
    <script src="../static/js/scripts.js"></script>
  
  </body>
  
  </html>