    <!-- Portfolio -->
    <section class="content-section" id="">
        <div class="container">
          <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Produkter</h3>
            <h2 class="mb-5">Aktuella Produkter</h2>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6">
              <a class="portfolio-item" href="#prod">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Sensommarhonung</h2>
                    <p class="mb-0">Mjuk och krämig konsistens, neutral i smak</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/assets/img/ssh.JPG" alt="Sensommarhonung, honey">
              </a>
            </div>
            <div class="col-lg-6">
              <a class="portfolio-item" href="#prod">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Blomsterhonung</h2>
                    <p class="mb-0">Smakrik och aromatisk honung från mitten av säsongen</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/assets/img/blh.JPG" alt="Blomsterhonung, honey">
              </a>
            </div>
            <div class="col-lg-6" name="prod">
              <a class="portfolio-item" href="#prod">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Rå Maskroshonung</h2>
                    <p class="mb-0">Maskroshonung fryst direkt efter tappning, verkligen rå honung</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/assets/img/mrh.JPG" alt="Maskroshonung, honey, raw honey">
              </a>
            </div>
            <div class="col-lg-6" name="prod">
              <a class="portfolio-item" href="#prod">
                <span class="caption">
                  <span class="caption-content">
                    <h2>Bivax</h2>
                    <p class="mb-0">Avtäckningsvax av vaxlock är det renaste och finaste vaxet, därför ofta att föredra vid tillverkning av bivaxsalva</p>
                  </span>
                </span>
                <img class="img-fluid" src="../static/assets/img/bivax.JPG" alt="Avtäckningsvax, bivax, beeswax">
              </a>
            </div>
          </div>
        </div>
      </section>